[Unit]
Description=DaqHat logger for NTST

[Service]
WorkingDirectory=/home/tiuser/dh-logger
Restart=on-failure
ExecStart=/home/tiuser/dh-logger/dh_logger
StandardError=journal
StandardOutput=journal
StandardInput=null

[Install]
WantedBy=default.target
